@import url("http://fonts.googleapis.com/css?family=Raleway");
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #faf9f9;
}
a {
  text-decoration: none;
  color: inherit;
}
.topo {
  cursor: pointer;
  position: fixed;
  bottom: 3.5em;
  right: 3.5em;
  display: none;
  z-index: 50;
  background-color: #c26262;
  border-color: #fff;
  border-witdh: 2px;
  border-witdh: medium;
  border-style: solid;
  border-radius: 3px;
  color: #fff;
  padding: 1em 2rem;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.input-field label {
  color: #ffffff;
}
.input-field input[type=text]:focus + label {
  color: #ffffff;
}
.input-field input[type=password]:focus + label {
  color: #ffffff;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}
.input-field input[type=text].valid {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}
.input-field input[type=text].invalid {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}
.input-field .prefix.active {
  color: #ffffff;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #000;
}
.input-field input[type=password].valid {
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}

.material-icons{
    color:black;
}
